# Data Manipulation & Analysis
pandas==2.2.2
numpy==1.26.4

# Machine Learning & Modeling
scikit-learn==1.4.2
xgboost==2.0.3

# MLOps & Experiment Tracking
mlflow==2.12.1

# Configuration & Utilities
PyYAML==6.0.1

# Testing & Quality
pytest==8.2.0
black==24.4.2
